body{
  background: no-repeat fixed center; 
  background-size: cover;
}

#forecast, #city, #humidity, #windspeed {
  margin: 5px 0px;
}

#temp{
  margin-bottom: 10px
}

.container{
  display: inline-block; 
  width:200px; 
  vertical-align: top;    
}
#forecastBox{
  background-color: #e6e6e6;
  font-size: 1.3em;
  
  
}

#tempBox{
  margin-left: 400px;
  margin-right:100px;
  font-size: 1.3em;
  background-color: #e6e6e6
}
h1{
  margin-bottom: 5em;
  margin: 0 auto;
    
}

  


